In [2]:
import pandas as pd
import numpy as np

In [1]:
data_path = "data/ratings.csv"

In [3]:
data = pd.read_csv(data_path)

### Describe dataframe

In [4]:
data.describe()

              userId        movieId         rating     timestamp
count  100004.000000  100004.000000  100004.000000  1.000040e+05
mean      347.011310   12548.664363       3.543608  1.129639e+09
std       195.163838   26369.198969       1.058064  1.916858e+08
min         1.000000       1.000000       0.500000  7.896520e+08
25%       182.000000    1028.000000       3.000000  9.658478e+08
50%       367.000000    2406.500000       4.000000  1.110422e+09
75%       520.000000    5418.000000       4.000000  1.296192e+09
max       671.000000  163949.000000       5.000000  1.476641e+09

### Find 10 random columns in the data

In [5]:
data.sample(10)

       userId  movieId  rating   timestamp
50644     373     1387     4.0   939235173
14874      96    25850     5.0  1223256486
88072     585     3429     4.0   975362198
57769     418    43836     1.5  1145048460
87996     585     2078     4.0   975363316
21689     150     3408     2.5  1114306379
76578     529    81845     4.0  1371270054
28990     212     6541     2.5  1218955714
1720       15     3943     3.0   997937860
3326       19      891     3.0   855194072

### Pandas Selecting and indexing

In [12]:
data.iloc[0:10, :]

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205
5       1     1263     2.0  1260759151
6       1     1287     2.0  1260759187
7       1     1293     2.0  1260759148
8       1     1339     3.5  1260759125
9       1     1343     2.0  1260759131

In [15]:
data.loc[data['movieId'] == 31]

       userId  movieId  rating   timestamp
0           1       31     2.5  1260759144
498         7       31     3.0   851868750
6059       31       31     4.0  1273541953
6130       32       31     4.0   834828440
6526       36       31     3.0   847057202
6773       39       31     3.0   832525157
10223      73       31     3.5  1255591860
13516      88       31     3.0  1239755559
14810      96       31     2.5  1223256331
16867     110       31     4.0   840100695
16983     111       31     3.5  1097429230
21441     150       31     2.5  1130905954
22902     161       31     3.0   837629820
23186     165       31     3.5  1111981801
25379     186       31     3.0  1276205768
33571     242       31     4.0   956686556
35421     254       31     3.0   845157538
39552     288       31     3.0   845862722
43309     310       31     1.5  1414188058
43344     311       31     3.0   898007906
45614     325       31     4.5  1356316520
46260     338       31     3.0   841656923
46459     341       31     4.5  1240055463
53279     386       31     2.0  1047028867
54862     394       31     2.0  1297524887
61447     452       31     2.5  1077114665
62992     457       31     1.5  1471385561
64091     461       31     2.0  1091959143
65669     468       31     1.5  1296193889
70108     485       31     4.0  1337748425
70273     487       31     5.0   832836558
70878     496       31     4.0   834060152
73375     511       31     4.0   829352433
73875     516       31     4.0   844687388
75567     525       31     4.0  1024928582
88773     590       31     3.0   848677861
89335     596       31     3.0  1138705152
90555     601       31     3.0  1270253462
91370     607       31     3.5  1118248028
93091     619       31     3.0   831923897
96047     639       31     3.0   832451040
96160     641       31     4.0   841551303

### Data types of columns of dataframe

In [16]:
data.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

### Binning in pandas (Groupby values)

In [21]:
pd.unique(data['rating'])

array([2.5, 3. , 2. , 4. , 3.5, 1. , 5. , 4.5, 1.5, 0.5])

In [33]:
pd.cut(data['rating'], [0, 1, 2, 3, 4, 5], labels=["very_low", "low", "medium", "high", "very_high"], include_lowest=True).value_counts(sort=False)

very_low      4427
low           8958
medium       24513
high         39288
very_high    22818
Name: rating, dtype: int64

### Crosstabulation to groupby values in pandas

In [35]:
pd.crosstab(data["movieId"], data["rating"], margins=True)

rating,0.5,1.0,1.5,2.0,2.5,3.0,3.5,4.0,4.5,5.0,All
movieId,,,,,,,,,,,
1,0,4,3,13,4,41,23,77,19,63,247
2,0,0,1,12,6,37,10,27,1,13,107
3,1,3,2,9,2,18,2,13,2,7,59
4,0,3,1,1,0,7,1,0,0,0,13
5,0,3,0,5,2,23,3,12,5,3,56
6,0,1,0,1,3,26,6,38,5,24,104
7,2,2,0,5,0,20,4,13,0,7,53
8,0,1,0,0,0,0,0,2,0,2,5
9,0,1,0,1,0,13,0,4,0,1,20
10,0,1,1,6,5,44,17,36,3,9,122
11,0,1,2,2,2,22,8,28,3,14,82
12,0,3,0,2,0,8,1,3,0,1,18
13,0,0,0,0,1,2,0,1,2,2,8
14,0,0,0,3,1,11,1,13,0,2,31
15,0,2,0,4,1,3,0,1,0,0,11
16,0,1,0,5,2,8,11,32,8,21,88
17,0,1,0,5,1,17,2,32,4,24,86
18,0,2,1,2,3,5,1,8,0,4,26
19,1,14,8,12,7,31,3,12,1,3,92
20,0,2,3,1,1,3,0,2,0,1,13
21,0,4,0,7,3,26,10,27,1,17,95
22,0,1,1,2,3,15,1,10,0,5,38
23,0,1,0,5,0,6,4,5,0,1,22
24,1,2,1,4,4,9,2,7,1,3,34
25,1,5,0,5,1,20,2,39,6,22,101
26,0,0,0,0,0,1,1,1,0,2,5
27,0,0,0,1,0,4,0,2,0,0,7
28,0,0,0,1,0,2,0,9,1,5,18
29,0,0,0,1,1,7,2,15,3,11,40
30,0,0,0,1,0,1,0,4,1,3,10
...,...,...,...,...,...,...,...,...,...,...,...
158314,0,0,0,0,0,0,0,0,1,0,1
158528,0,0,0,0,0,0,1,0,0,0,1
158956,0,0,0,0,0,0,0,1,0,0,1
159093,0,1,0,0,0,1,0,0,0,0,2
159462,0,0,0,0,0,1,0,0,0,0,1
159690,0,0,0,1,0,0,0,0,0,0,1
159755,0,1,0,0,0,0,0,0,0,0,1
159858,0,0,0,0,0,0,1,1,0,0,2
159972,1,0,0,0,0,0,0,0,0,0,1
160080,0,1,0,0,0,0,0,0,0,0,1
160271,0,0,0,0,1,0,0,0,0,0,1
160438,0,0,0,0,0,0,0,1,1,0,2
160440,0,0,1,0,0,0,0,0,0,0,1
160563,0,1,0,0,0,0,0,1,0,0,2
160565,0,0,0,1,0,0,0,0,0,0,1
160567,0,0,0,0,0,0,0,1,0,0,1
160590,0,0,0,0,0,0,0,0,0,1,1
160656,0,0,0,0,0,0,1,0,0,0,1
160718,0,0,0,0,0,0,0,1,0,0,1
161084,0,0,0,0,1,0,0,0,0,0,1
161155,1,0,0,0,0,0,0,0,0,0,1
161594,0,0,0,0,0,1,0,0,0,0,1
161830,0,1,0,0,0,0,0,0,0,0,1
161918,0,0,1,0,0,0,0,0,0,0,1
161944,0,0,0,0,0,0,0,0,0,1,1
162376,0,0,0,0,0,0,0,0,1,0,1
162542,0,0,0,0,0,0,0,0,0,1,1
162672,0,0,0,0,0,1,0,0,0,0,1
163949,0,0,0,0,0,0,0,0,0,1,1
All,1101,3326,1687,7271,4449,20064,10538,28750,7723,15095,100004

### One hot encoding data

In [37]:
forest_fires_data_path = "data/forestfires.csv"

In [38]:
forest_fires_df = pd.read_csv(forest_fires_data_path)

In [40]:
forest_fires_df.sample(10)

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
210  4  4   oct  sat  90.6   43.7  686.9   6.7  18.4  25   3.1   0.0  24.23
475  2  5   jun  thu  93.7  121.7  350.2  18.0  22.7  40   9.4   0.0   3.19
248  8  6   aug  wed  93.1  157.3  666.7  13.5  28.7  28   2.7   0.0   0.00
56   4  3   sep  tue  90.3   80.7  730.2   6.3  17.8  63   4.9   0.0   0.00
489  4  4   aug  wed  95.1  141.3  605.8  17.7  20.6  58   1.3   0.0   0.00
223  2  2   jul  fri  88.3  150.3  309.9   6.8  13.4  79   3.6   0.0  37.02
508  1  2   aug  fri  91.0  166.9  752.6   7.1  25.9  41   3.6   0.0   0.00
453  4  5   aug  thu  89.4  266.2  803.3   5.6  17.4  54   3.1   0.0   0.00
72   5  4   mar  fri  91.7   33.3   77.5   9.0  15.6  25   6.3   0.0   0.00
29   6  3   sep  sun  93.5  149.3  728.6   8.1  22.8  39   3.6   0.0   0.00

In [42]:
pd.get_dummies(forest_fires_df).sample(10)

,X,Y,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,month_nov,month_oct,month_sep,day_fri,day_mon,day_sat,day_sun,day_thu,day_tue,day_wed
7,8,6,91.5,145.4,608.2,10.7,8.0,86,2.2,0.0,...,0,0,0,0,1,0,0,0,0,0
16,5,5,91.7,35.8,80.8,7.8,15.1,27,5.4,0.0,...,0,0,0,0,0,1,0,0,0,0
25,7,4,91.4,142.4,601.4,10.6,16.3,60,5.4,0.0,...,0,0,0,0,0,0,1,0,0,0
227,8,6,92.2,81.8,480.8,11.9,20.1,34,4.5,0.0,...,0,0,0,0,0,1,0,0,0,0
118,3,4,90.1,39.7,86.6,6.2,10.6,30,4.0,0.0,...,0,0,0,0,1,0,0,0,0,0
51,4,3,90.2,99.6,631.2,6.3,21.5,34,2.2,0.0,...,0,0,0,0,0,0,1,0,0,0
184,8,6,93.9,135.7,586.7,15.1,20.8,34,4.9,0.0,...,0,0,0,1,0,0,0,0,0,0
152,3,4,90.1,51.2,424.1,6.2,24.6,43,1.8,0.0,...,0,0,0,0,0,1,0,0,0,0
460,2,5,93.7,231.1,715.1,8.4,18.9,64,4.9,0.0,...,0,0,0,0,0,1,0,0,0,0
513,2,4,81.6,56.7,665.6,1.9,21.9,71,5.8,0.0,...,0,0,0,0,0,0,1,0,0,0